<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joao.vempracaruaruapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <!-- passamos a class para iniciar o sdk do face (EntryPoint) -->
    <application
        android:name="br.com.vempracaruaru.activitys.EntryPoint"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- passamos o id do fece que esta na string -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDSneD1IoxaWypr7jWD15jdRLnYU-BNeI0  " />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="br.com.vempracaruaru.activitys.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.vempracaruaru.activitys.AlterarActivity"
            android:label="Alterar" />
        <activity
            android:name="br.com.vempracaruaru.activitys.ExpandirImagensObraActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.activitys.ExpandirImagensPontoActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.activitys.GaleriaObrasActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.activitys.GaleriaPontoTuristicoActivity"
            android:label="Ponto Turísticos" />
        <activity android:name="br.com.vempracaruaru.activitys.HomeActivity" />
        <activity
            android:name="br.com.vempracaruaru.activitys.ListaArtistaActivity"
            android:label="Artistas" />
        <activity
            android:name="br.com.vempracaruaru.activitys.ListaObrasActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.activitys.ListaPontosTuristicosActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.activitys.LocalizacaoGpsActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.activitys.MenuObraActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.activitys.MenuPontoTuristicoActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.activitys.MinhaContaActivity"
            android:label="Minha Conta" />
        <activity
            android:name="br.com.vempracaruaru.activitys.PerfilArtistaActivity"
            android:label="Artista" />
        <activity android:name="br.com.vempracaruaru.activitys.CadastroActivity" />

        <!-- activity do face -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="br.com.vempracaruaru.activitys.MenuPontoActivity"></activity>
    </application>

</manifest>