<?xml version="1.0" encoding="utf-8"?><!-- suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joao.vempracaruaruapp">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="br.com.vempracaruaru.Activitys.LoginActivity" android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.vempracaruaru.Activitys.AlterarActivity"
            android:label="Alterar" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.ExpandirImagensObraActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.ExpandirImagensPontoActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.GaleriaObrasActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.GaleriaPontoTuristicoActivity"
            android:label="Ponto Turísticos" />
        <activity android:name="br.com.vempracaruaru.Activitys.HomeActivity" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.ListaArtistaActivity"
            android:label="Artistas" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.ListaObrasActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.ListaPontosTuristicosActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.LocalizacaoGpsActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.MenuObraActivity"
            android:label="Obras" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.MenuPontoTuristicoActivity"
            android:label="Ponto Turísticos" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.MinhaContaActivity"
            android:label="Minha Conta" />
        <activity
            android:name="br.com.vempracaruaru.Activitys.PerfilArtistaActivity"
            android:label="Artista" />
        <activity android:name="br.com.vempracaruaru.Activitys.CadastroActivity"></activity>
    </application>

</manifest>
